body{
    padding: 0;
    margin: 0;

}

.container{
    width: 960px;
    margin: auto;
}

header{
    background-color: #000000;
    color: #ffffff;
}

header .container{
    display: flex;
    align-items: center;
}
#logo{
    width: 250px;
}

#logo img{
    width: 100%;
}

#direita{
    flex-grow: 1;
    text-align: center;;
}

#direita p{
    letter-spacing: 5px;
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;

}

header nav{
    display: flex;
    justify-content: space-between;
}

header nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    transition: 650ms;
    border-radius: 30px;
}

#direita nav a:hover{
    background-color: #ff0;
    color: #000;
}

footer{
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

footer nav{
    display: flex;
    justify-content: space-between;
}

footer nav a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

footer nav a:hover{
    color: #ff0;
    text-decoration: underline overline;
}

main{
    margin: auto;
    width: 960px;
    min-height: 800px;
}

main h1{
    text-align: center;
}

.texto_banner{
    font-size: 30pt;
    text-align: center;
    margin: 20px 0px;
}

#assistir, #assinar{
    text-decoration: none;
    display: block;
    width: 300px;
    height: 50px;
    color: #000;
    font-size: 18pt;
    border-radius: 30px;
    margin: auto;
    line-height: 50px;
    text-align: center;
}

#assistir{
    background-color: #ff0;
}

#assinar{
    background-color: #ff0;
}

.destaque{
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px #000000; 
}

.destaque div{
    display: flex;
}

.destaque figure img{
    width: 150px;
}

.destaque figure figcaption{
    text-align: center;
}

.programacao{
    display: flex;
    flex-wrap: wrap;
}

.programacao h3{
    width: 100%;
}

.programacao article img{
    width: 150px;
}

.programacao article{
    width: 50%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.programacao article section{
    padding: 30px;
}

#galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#galeria img{
    width: 200px;
    margin: 10px;
}

#destaque_plus{
    display: flex;
}

#destaque_plus p{
    text-align: center;
}

.planos{
    width: 300px;
    text-align: center;
    border: 2px solid #000000;
    margin: auto;
    padding: 50px;
    border-radius: 50px;
    margin-bottom: 20px;
}

.planos ul{
    text-align: left;
}

.planos p span{
    font-size: 22pt;
    color: #ff0000;
}

#contato{
    display: flex;
    justify-content: space-around;
}

#contato input, #contato textarea{
    display: block;
    width: 300px;
    background-color: #cccccc;
    margin: 20px;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

#contato button{
    font-size: 18pt;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: #ac7ce4;
    color: #ffffff;
}